use org.fuwjin.gravitas
use org.fuwjin.gravitas.console
use org.fuwjin.gravitas.engine.command
use org.fuwjin.gravitas.gesture.command
use org.fuwjin.gravitas.gesture.handler
use org.fuwjin.gravitas.config.command

from BootIntegration
    #Delays execution of a command
    in $delay $unit $[command]   => DelayedCommand

    #Repeats execution of a command
    every $rate $unit $[command]   => RepeatCommand

    #Executes a script
    run $script  => BatchCommand

    #Drops old events
    drop events  => DropOldEventsHandler

from ConsoleIntegration
    #Displays the current status of all known jobs
    jobs          => StatusCommand
    status        => StatusCommand
    
    #Displays the current status of a single job
    #   jobId: the id of the job to display
    jobs $jobId   => SingleStatusCommand
    status $jobId => SingleStatusCommand
    
    #Displays the current status of the last job
    jobs last     => SingleStatusCommand
    last job      => SingleStatusCommand
    
    #Stops a pending job
    #   jobId: the id of the job to stop
    kill $jobId   => CancelCommand
    
    #Displays the pending unhandled events
    queue         => QueueCommand
    
    #Shuts the platform down
    quit          => QuitCommand
    exit          => QuitCommand
    
    #Displays this help
    help          => HelpCommand
    usage         => HelpCommand
    
    #Displays command specific help
    #   name: a keyword present in the command
    help $name    => HelpOnCommand
    
    #Clears any finished, interrupted, or failed jobs
    clear jobs    => ClearFinishedJobsCommand

    #Clears any pending unhandled events
    clear events  => ClearEventsCommand
    clear queue   => ClearEventsCommand
    
    #Delays execution of a command
    #   delay: the time to wait for command execution
    #   unit: the time unit for the delay
    #   command: the command to execute after the delay
    in $delay $unit $[command]   => DelayedCommand
    
    #Repeats execution of a command
    #   rate: the time to wait between execution starts
    #   unit: the time unit for the rate
    #   command: the command to execute repeatedly
    every $rate $unit $[command]   => RepeatCommand
        